* {
}

@media (max-width: 767px) {
    .navbar-toggle .icon-bar {
        transition: all 0.3s ease;
    }
    .navbar-toggle .icon-bar.top-bar {
        transform: rotate(45deg) !important;
        -ms-transform: rotate(45deg) !important;
        -webkit-transform: rotate(45deg) !important;
        transform-origin: 5px 0 0;
        -ms-transform-origin: 5px 0 0;
        -webkit-transform-origin: 5px 0 0;
    }
    .navbar-toggle .icon-bar.middle-bar {
        opacity: 0;
    }
    .navbar-toggle .icon-bar.bottom-bar {
        transform: rotate(-45deg) !important;
        -ms-transform: rotate(-45deg) !important;
        -webkit-transform: rotate(-45deg) !important;
        transform-origin: 0 0 0;
        -ms-transform-origin: 0 0 0;
        -webkit-transform-origin: 0 0 0;
    }
    .navbar-toggle.collapsed .icon-bar {
        transform: rotate(0deg) !important;
        -ms-transform: rotate(0deg) !important;
        -webkit-transform: rotate(0deg) !important;
        translate-origin: 0 0;
        -ms-translate-origin: 0 0;
        -webkit-translate-origin: 0 0;
        opacity: 1 !important;
    }
    .navbar-toggle .icon-bar.collapsed {
    }
}
