<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="/admin/pedidos">Total Ventas Mes</a></h3>
            </div>
            <div class="panel-body">
                <h3 class="big-content">${{ totalVentas|number_format(0,',','.') }}</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="/admin/pedidos">Ventas Por Pagar</a></h3>
            </div>
            <div class="panel-body">
                <h3 class="big-content">{{ ventasPendientes }}</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Total Clientes</h3>
            </div>
            <div class="panel-body">
                <h3 class="big-content">{{ totalClientes }}</h2>
            </div>
        </div>
    </div>
</div><!-- /.row -->
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="/admin/pedidos">Ventas &Uacute;ltimos 7 D&iacute;as</a></h3>
            </div>
            <div class="panel-body">
                <canvas id="grafico-ventas" width="400" height="250"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Productos M&aacute;s Vendidos</h3>
            </div>
            <div class="panel-body">
                <canvas id="grafico-productos" width="400" height="250"></canvas>
            </div>
        </div>
    </div>
</div><!-- /.row -->
