<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>DoitCms - Administraci&oacute;n de Contenido</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    
    <!--external css-->
    <link href="/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
    
    <!-- Custom styles for this template -->
    <link href="/css/admin.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/admin/dist/js/jquery.js"></script>
    <script src="/admin/dist/js/jquery-1.8.3.min.js"></script>
  </head>

  <body>

  <section id="container" >
      <!-- TOP BAR CONTENIDO -->
      <!--header start-->
      <header class="header black-bg">
            <div class="sidebar-toggle-box">
             <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Panel de Navegación"></div>
            </div>
            <!--logo start-->
            <a href="index.html" class="logo"><img src="/img/logo-doit-blanco.png" width="200"></a>
            <!--logo end -->
            
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="?logout">Cerrar Sesión</a></li>
            	</ul>
            </div>
      </header>
      <!--header end-->
      
      <!-- MAIN SIDEBAR MENU -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <p class="centered"><img src="/img/ui-sam.jpg" class="img-circle" width="60"></p>
                  <h5 class="centered">Administrador</h5>
              	  
              {% for class in navs %}
                {% if class.navs is not empty %}
                <li class="sub-menu">
                    <a href="javascript:;"{% if class.current %} class="active"{% endif %}>
                        <i class="fa {{class.icon}}"></i>
                        <span>{{ class.name|raw }}</span><span class="caret"></span>
                    </a>
                    <ul class="sub">
                        {% for nav in class.navs %}
                        <li><a href="#nav={{ nav.id }}/{{nav.name}}">/{{ nav.name|raw }}</a></li>
                        {% endfor %}
                        <!-- <li><a class="link-more" data-rel="#"> + Agregar Vista ..</a></li> -->
                    </ul>
                </li>
                {% else %}
                <li class="mt">
                    <a {% if class.current %} class="active"{% endif %} href="/{{ class.url }}">
                        <i class="fa {{class.icon}}"></i>
                        <span>{{ class.name|raw }}</span>
                    </a>
                </li>
                {% endif %}
              {% endfor %}
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!--  MAIN CONTENT  -->
      <!--main content start-->
      <section id="main-content">
        <div class="wrapper site-min-height">
        {{ CONTENT|raw }}
        </div><!-- /.wrapper.site-min-height -->
      </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/admin/dist/js/bootstrap.min.js"></script>
    
    <script class="include" type="text/javascript" src="/admin/dist/js/jquery.dcjqaccordion.2.7.js"></script>  
     
    <script src="/admin/dist/js/jquery.scrollTo.min.js"></script>
    <script src="/admin/dist/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- common script for all pages-->
    <script src="/admin/dist/js/common-scripts.js"></script>
    <script src="/js/jscolor.min.js"></script>
    <script src="/js/spin.min.js"></script>
    <script type="text/javascript">
    var spinnerOpts = {
        lines: 13 // The number of lines to draw
        , length: 14 // The length of each line
        , width: 7 // The line thickness
        , radius: 14 // The radius of the inner circle
        , scale: 1 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#000' // #rgb or #rrggbb or array of colors
        , opacity: 0.25 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 60 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '50%' // Top position relative to parent
        , left: '50%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
    }
    var loading = false;
    var spinner = new Spinner(spinnerOpts);

    function showSpinner(message = "Cargando&hellip;") {
        var load = $("body #main-content");
        $(".modal").modal('hide');
        if( !loading ){
            spinner.spin(load[0]);
        } else {
            spinner.stop();
        }
        loading = !loading;
    }
    </script>
    <script type="text/javascript">
    (function($){
        $(window).on("hashchange",function (e) {
            var hash = (window.location.hash).substr(1);
            var tmp = hash.split("=");
            if( tmp[0]=='nav' ){
                var id = tmp[1];
                window.location.href="/admin/edit/"+id+"/";
            }
        });
    })(jQuery);
    </script>
  </body>
</html>
